<h2>This is a secret page</h2>
<img src="https://farm1.staticflickr.com/60/215827008_6489cd30c3.jpg" >

<li><a href="/register">Signup!</a></li>
<li><a href="/login">Login</a></li>
<li><a href="/logout">Logout</a></li>